<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Recyclops</title>
</head>
<body style="background-color:#90EE90; padding-top: 1em; padding-bottom: 1em; margin-right:10%; margin-right:10%">
	<h1 style="border:5px; border-style:double; border-color:green; padding: 1em;"> Recyclops – ThanosNet Smart Recycling Project v1.0</h1>
	<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <select name=location>
    	{% for location in locations %}
    		<option value="{{location}}">{{ location }}</option>"
    	{% endfor %}
    </select>
    <input type=submit value=Upload>
  </form>
  <div class="maps" style="margin-top: 2em;">
  <h4><i>Project By Alan Sun, Harry Xiao, and Steve Kim <br> Sponsored By Shanghai American School Innovation Award</i></h4>

  <h3><br>Instructions:</h3>
  <p> <b>(1)</b> Select the corresponding location index, marked on the QR Code, from the dropdown list <br> <b>(2)</b> Take the photo of your trash <br> <b>(3)</b> Click 'Choose File' button to select the image of the trash <br> <b>(4)</b> Click 'Upload' button to upload your image to ThanosNet <br> Also, note that the accuracy of the prediction is increased when images are taken against a dark/black background. <br> </p>
  <img src="{{ url_for('static', filename='thanosnet_logo.jpg') }}" alt="ThanosNet Logo" width=30%%/>
  <img src="{{ url_for('static', filename='sas_map.jpg') }}" alt="SAS Map" width=40%/>
</div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>